body {
    background: #E9EAED;
    font: 400 14px 'Roboto Condensed', sans-serif;
    color: black;
    margin: 0;
    padding: 0;
}
a {
    color: #5f8ee2;
}

h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

.wrapper {
    max-width: 90%;
    margin: auto;
}

.result-container {
    max-width: 800px;
}
.result-container ul.result-list {
    padding-left: 0px;
    list-style: none;
}
.result-list > li {
    width: 100%;
    box-sizing: border-box;
    background: #ffffff;
    margin-bottom: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 3px -1px #abacae;
    -moz-box-shadow: 0px 1px 3px -1px #abacae;
    box-shadow: 0px 1px 3px -1px #abacae;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.result-list > li > .detail,
.result-list > li > .cover {
    height: 100%;
    padding: 7px 10px;
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.result-list > li > .cover {
    cursor: pointer;
    width: 100%;
    padding: 10px 15px;
}
.result-list > li > .detail {
    font-weight: 300;
    color: #898989;
    background: #F9F9F9;
    -webkit-box-shadow: inset 0px 10px 20px -10px #e0e1e4;
    -moz-box-shadow: inset 0px 10px 20px -10px #e0e1e4;
    box-shadow: inset 0px 10px 20px -10px #e0e1e4;
    overflow: hidden;
    padding: 0px;
    max-height: 0px;
}
.result-list > li > .detail .detail-inner {
    box-sizing: border-box;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
}
.result-list > li > .detail p{
    text-align: justify;
    margin-top: 0px;
    margin-bottom: 10px;
}
.result-list > li > .detail ul.list-inline {
    font-size: 12px;
}
.result-list > li.active {
    cursor: pointer;
    max-height: 500px;
}
.result-list > li.active > .detail {
    cursor: default;
    max-height: 700px;
}
.result-list h3 {
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 5px;
}
.result-list > li > .cover:hover h3 {
    color: #5f8ee2;
}
.result-list .pre {
    font-weight: 300;
    color: #9197a3;
}

.result-list > li.loader {
    color: rgb(157, 156, 156);
    text-align: center;
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 0px;
    max-height: none;
}
.result-list > li.loader img{
    margin: 15px auto 0px;
}
.fade {
    opacity: 0;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.fade.in {
    opacity: 1;
}
/*Form*/

input.search {
    display: inline-block;
    border: 0px;
    outline: none;
    width: 100%;
    padding: 15px 10px;
    font-size: 18px;
    box-sizing: border-box;
}

/*list*/
ul.list-inline {
    padding-left: 0px;
    list-style: none;
    display: block;
    margin-bottom: 5px;
}
ul.list-inline > li{
    display: inline-block;
    margin-right: 20px;
}

/*Media queries*/
@media (min-width: 768px) {

    h1 {
        font-size: 60px;
        margin-bottom: 10px;
    }
    .result-list h3 {
        font-size: 24px;
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .result-list > li {
        max-height: 76px;
    }
    .result-list > li > .detail,
    .result-list > li > .cover {
        float: right;
    }
    .result-list > li > .detail {
        width: 0%;
        max-height: none;
        -webkit-box-shadow: inset -10px 0 20px -10px #e0e1e4;
        -moz-box-shadow: inset -10px 0 20px -10px #e0e1e4;
        box-shadow: inset -10px 0 20px -10px #e0e1e4;
    }
    .result-list > li > .detail .detail-inner {
        min-width: 400px;
    }
    .result-list > li.active > .detail {
        width: 60%;
    }
    .result-list > li.active > .cover {
        width: 40%;
    }
    .result-list > li.active > .detail,
    .result-list > li.active > .cover {
        -webkit-transition-delay: 0.3s;
        -moz-transition-delay: 0.3s;
        -ms-transition-delay: 0.3s;
        -o-transition-delay: 0.3s;
        transition-delay: 0.3s;
    }
    .result-list > li:not(.active),
    .result-list > li:not(.active){
        -webkit-transition-delay: 0.3s;
        -moz-transition-delay: 0.3s;
        -ms-transition-delay: 0.3s;
        -o-transition-delay: 0.3s;
        transition-delay: 0.3s;
    }

    /*Forms*/

    input.search {
        padding: 30px;
        font-size: 35px;
    }
}

@media (min-width: 820px) {
    .wrapper {
        max-width: 800px;
        margin: auto;
    }
    .result-list > li > .detail .detail-inner {
        min-width: 480px;
    }
}